@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Troy Sans";
  src: url("./assets/troy-sans.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primaryBrown: #8d765b;
  --color-secondaryBrown: #ad9476;
  --color-primaryNude: #bdac96;
  --color-lightNude: #e0d5bf;
  --color-lighterNude: #efe9db;

  --font-header: "Troy Sans", "Poppins", "Source Sans 3", "sans-serif";
  --font-body: "Poppins", "Source Sans 3", "sans-serif";
  --font-cursive: "Dancing Script", "cursive";
}
