@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Troy Sans";
  src: url("./assets/troy-sans.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-primaryBrown: #8d765b;
  --color-secondaryBrown: #ad9476;
  --color-primaryNude: #bdac96;
  --color-lightNude: #e0d5bf;
  --color-lighterNude: #efe9db;

  --font-header: "Troy Sans", "Poppins", "Source Sans 3", "sans-serif";
  --font-body: "Poppins", "Source Sans 3", "sans-serif";
  --font-cursive: "Dancing Script", "cursive";
}
